/bin/
/node_modules/
/modules/ffmpeg/
/modules/mkvtoolnix/
/_old1/
/_old2/
/videos/*.json
ffmpeg
config.session.yml
config.titles.yml
package-lock.json
*.txt
*.exe
*.dll
*.ts
*.mkv
*.mp4
*.srt
*.ass
*.bat
*.7z
*.zip
